.brand-paragraph {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: 0.03125em;
  text-transform: lowercase;
  color: #F7FFF7;
  margin: 0;
}

.social-media {
  margin: 0;
  padding-bottom: 8px;
  font-size: 2em;
  color: #F7FFF7;
}
