img {
  padding-right: 8px;
}

.brand-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-transform: lowercase;
  color: #F7FFF7;
  margin: 0;
}

.left-link {
  padding: 0 16px 0 0;
}

.right-link {
  padding: 0 0 0 16px;
}

.left-link, .right-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: 0.03125em;
  text-transform: lowercase;
  text-decoration: none;
  color: #F7FFF7;
}

.left-link:hover, .right-link:hover {
  color: #1A535C;
}
