.background-photo {
  background-image: url('../assets/images/giorgio-trovato-cw1MAVs4wV8-unsplash.jpg');
  background-attachment: fixed;
  background-position: 0 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background-color: #FF6663;
  border: none;
  border-radius: .5em;
  padding: 1em 2em;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.03125em;
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  color: white;
}

.button-margin {
  margin-right: 2em;
}

.button:hover {
  background-color: #D15452;
}

.button:active {
  background-color: #A34140;
}

.button:focus {
  outline: none;
}
